[user]
	name = Akito Fujisaki
	email = 52433677+akito-fujisaki@users.noreply.github.com

[color]
	ui = auto

[alias]
	br = branch -a
	co = checkout
	me = merge
	st = status
	lg = log --oneline --graph
	upush = push -u origin HEAD

[pull]
	ff = only

[init]
	defaultBranch = main
